In [255]:
#Linear Regression from scratch
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
class Linear_Regression:
    def __init__(self,x,y):
        self.x=x
        self.y=y
        self.t0=0 #initializing the coefficients
        self.t1=0
    def predict(self,x=0):
        if x==0:
            y_prid=[]
            for i in range(0,len(self.y)):
                Y=self.t0+self.t1*self.x[i]
                y_prid.append(Y)
            return(y_prid)
        else:
            return(self.t0+self.t1*x)
            
    def gradientdescent(self,learning_rate=0.00000001):
        n=len(self.x)
        f1=[]
        f0=[]
        for i in range(0,n):
            f1.append((self.predict()[i]-self.y[i])*self.x[i])
            f0.append(self.predict()[i]-self.y[i])
        self.t1=self.t1-learning_rate*np.mean(f1)
        self.t0=self.t0-learning_rate*np.mean(f0)
    
    def error(self,y_prid):
        n=len(self.y)
        err=[]
        for i in range(0,n):
            err.append(y_prid[i]-self.y[i])
        error=1-np.sum(err)/n
        return(error)
    def costfunc(self,y_prid):
        n=len(self.y)
        err=[]
        for i in range(0,n):
            err.append(y_prid[i]-self.y[i])
            
        return(1/n*(np.sum(err)**2))
    def plot(self,y_prid,name='values'):
        f=plt.figure(name)
        plt.scatter(self.x,self.y,color='blue')
        plt.plot(self.x,y_prid,color='green')
        f.show()
    def get_coefficient(self):
        return((self.t0,self.t1))

In [256]:
data=pd.read_csv('Housing.csv')
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [257]:
x=data['area'].tolist()
x[1:5]

[8960, 9960, 7500, 7420]

In [258]:
y=data['price'].tolist()
y[1:5]

[12250000, 12250000, 12215000, 11410000]

In [259]:
def main(x,y):
    model=Linear_Regression(x,y)
    iteration=5000
    for i in range(1,iteration):
        model.gradientdescent()
        if i%50==0:
            error=model.error(model.predict())
            print('for iteration ', i, 'the error is',error)
    y_pred=model.predict()
    print('plot')
    model.plot(y_pred,name='House Rent')
    print('cost function is',model.costfunc(y_pred))
    print('final Accuracy is',model.error(y_pred))
    get_val=model.get_coefficient()
    with open('weight.txt','w') as f:
        f.write('The value of theta0=')
        f.write(str(get_val[0]))
        f.write('\nThe value of theta1=')
        f.write(str(get_val[1]))
        f.close()

In [ ]:
if __name__=='__main__':
    main(x,y)

for iteration  50 the error is 359360.79805437033
for iteration  100 the error is 359360.7383136606
for iteration  150 the error is 359360.71126658015
for iteration  200 the error is 359360.68421950284
for iteration  250 the error is 359360.657172428
for iteration  300 the error is 359360.6301253543
for iteration  350 the error is 359360.60307828407
for iteration  400 the error is 359360.5760312141
for iteration  450 the error is 359360.54898414697
for iteration  500 the error is 359360.5219370826
for iteration  550 the error is 359360.49489001866
for iteration  600 the error is 359360.46784295846
for iteration  650 the error is 359360.44079589896
for iteration  700 the error is 359360.4137488421
for iteration  750 the error is 359360.3867017879
for iteration  800 the error is 359360.3596547342
for iteration  850 the error is 359360.3326076836
for iteration  900 the error is 359360.30556063517
for iteration  950 the error is 359360.2785135882
for iteration  1000 the error is 359360.2514665434
for iteration  1050 the error is 359360.22441950085
for iteration  1100 the error is 359360.19737246
for iteration  1150 the error is 359360.1703254217
for iteration  1200 the error is 359360.1432783842
for iteration  1250 the error is 359360.11623135075
for iteration  1300 the error is 359360.08918431733
for iteration  1350 the error is 359360.06213728734
for iteration  1400 the error is 359360.03509025916
for iteration  1450 the error is 359360.0080432322
for iteration  1500 the error is 359359.98099620815
for iteration  1550 the error is 359359.9539491852
for iteration  1600 the error is 359359.926902165
for iteration  1650 the error is 359359.89985514747
for iteration  1700 the error is 359359.8728081306
for iteration  1750 the error is 359359.84576111677
for iteration  1800 the error is 359359.81871410424
for iteration  1850 the error is 359359.79166709416
for iteration  1900 the error is 359359.764620087
for iteration  1950 the error is 359359.73757308035
for iteration  2000 the error is 359359.7105260769
for iteration  2050 the error is 359359.6834790743
for iteration  2100 the error is 359359.6564320738
for iteration  2150 the error is 359359.629385077
for iteration  2200 the error is 359359.60233808064
for iteration  2250 the error is 359359.5752910871
for iteration  2300 the error is 359359.54824409535
for iteration  2350 the error is 359359.5211971047
for iteration  2400 the error is 359359.494150118
for iteration  2450 the error is 359359.4671031316
for iteration  2500 the error is 359359.4400561483
for iteration  2550 the error is 359359.4130091672
for iteration  2600 the error is 359359.3859621865
for iteration  2650 the error is 359359.35891521006
for iteration  2700 the error is 359359.33186823427
for iteration  2750 the error is 359359.30482126074
for iteration  2800 the error is 359359.27777428913